#y{
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* 关键属性，防止子元素被拉伸 */
}
.x{
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 45%;
    img{
        width: 100%;
        border-radius: 8px;
        margin-top: 8px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
}

#leftImg{
    
}

#rgihtImg{

}

