#all2{
    width: 100vw;
    height: 50vh;
    position: relative;
    background: rgb(255, 252, 232);
}

#box{
    position: absolute;
    right: 11%;
    top: 5%;
    width: 75%;
    height: 66%;
}

