#bg{
    width: 100vw;
    position: absolute;
    top: 0px;
    .bgDi{
      width: 100%;
      height: 100px;
      // height: 100%;
    }
    .bgIco1{
      width: 36px;
      position: absolute;
      left: 82%;
      top: 3px;
      // height: 100px;
  
    }
    .bgIco2{
      width: 101px;
      position: absolute;
      left: 70%;
      top: 1px;
    }
    .bgIco3{
      width: 40px;
      position: absolute;
      left: 80%;
      top: 10px;
    }
  }