#all2 {
    width: 100%;
    height: 100%;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 使图像自适应容器 */
}

.block {
    position: absolute;
}

#user {
    width: 100px;
    left: 0%;
    top: 0%;
}

#Internet {
    width: 100px;
    left: 42%;
    top: 0%;
}

#orangepi5 {
    width: 166px;
    position: absolute;
    left: 81%;
    top: 6px;
    position: relative;
}

.drop {

    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: green;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#drop1 {
    top: 18%;
    left: 75.5%;
}

#drop2 {
    top: 18%;
    left: 85.5%;
}

#drop3 {
    top: 43.5%;
    left: 75.5%;
}

#drop4 {
    top: 43.5%;
    left: 85.5%;
}

#drop5 {
    top: 69%;
    left: 75.5%;
}

#drop6 {
    top: 69%;
    left: 85.5%;
}

#arrowA {
    width: 145px;
    left: 17%;
    top: 38%;
}

#arrowB {
    width: 145px;
    left: 58%;
    top: 38%;
}

#socker {
    width: 8%;
    left: 14%;
    top: 6%;
    animation: sockerA 6s infinite;
}



/* 定义 keyframes 动画 */
@keyframes sockerA {
    0% {
        left: 14%;
        top: 6%;
        opacity: 0;
    }

    2.5% {
        left: 14%;
        top: 6%;
        opacity: 1;
    }

    25% {
        left: 37%;
        top: 6%;
        opacity: 1;
    }

    27.5% {
        left: 37%;
        top: 6%;
        opacity: 0;
    }

    35% {
        left: 56%;
        top: 6%;
        opacity: 0;
    }


    37.5% {
        left: 56%;
        top: 6%;
        opacity: 1;
    }

    47.5% {
        left: 75.5%;
        top: 6%;
        opacity: 1;
    }

    50% {
        left: 75.5%;
        top: 6%;
        opacity: 0;
    }

    51.5% {
        left: 75.5%;
        top: 52%;
        opacity: 0;
    }

    52.5% {
        left: 75.5%;
        top: 52%;
        opacity: 1;
    }

    75% {
        left: 56%;
        top: 52%;
        opacity: 1;
    }

    77.5% {
        left: 56%;
        top: 52%;
        opacity: 0;
    }

    85% {
        left: 37%;
        top: 52%;
        opacity: 0;
    }

    87.5% {
        left: 37%;
        top: 52%;
        opacity: 1;
    }

    90% {
        left: 14%;
        top: 52%;
        opacity: 1;
    }

    92% {
        left: 14%;
        top: 52%;
        opacity: 0;
    }

    98%{
        left: 14%;
        top: 6%;
        opacity: 0;
    }

    100%{
        left: 14%;
        top: 6%;
        opacity: 1;
    }

}