#head {
  width: 100vw;
  height: 250px;
  /* background-color: aqua; */
  // background-image: url('../img/bg2.png');
  background-position: center;
  background-size: cover;
}

#kz {
  width: 100vw;
  height: 70px;
  /* background-color: aqua; */
  position: fixed;
  z-index: 1000;
}

.kzs {
  background-color: rgb(237, 237, 237);
}

#touxian {
  width: 100%;
  position: absolute;
  top: 208px;
  display: flex;
  flex-direction: row-reverse;
  .tou{
    margin-right: 30px;
    position: relative;
    #guajian{
      width: 120px;
      position: absolute;
      left: 46px;
      top: -23px;
      // height: 100px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    text {
      position: relative;
      color: white;
      top: -25px;
      left: -36px;
      font-size: 20px;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }
  }

}

#nulls {
  width: 100vw;
  height: 30px;
}

.zhu {
  width: 100vw;
  position: relative;
  /* background-color: bisque; */
}

.touxian {
  position: relative;
  left: 35px;
}

.touxian image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.name {
  color: rgb(87, 107, 149);
  font-size: 16px;
  position: absolute;
  left: 85px;
  top: 2px;
}

.text {
  font-size: 15px;
  width: 70%;
  position: relative;
  left: 85px;
  top: -20px;
  display: flex;
  flex-wrap: wrap;
}

.text image {
  width: 26px;
  height: 26px;
  display: inline-block;
  transform: translateY(-13%);
}

.imgs {
  width: 80vw;
  position: relative;
  top: -10px;
  left: 85px;
  display: flex;
  flex-wrap: wrap;
}

.imgs image {
  width: 100px;
  height: 100px;

  margin-bottom: 10px;
  margin-right: 10px;
}

.imgs div {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 220px;
  left: 110px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.imgs text {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.video {
  width: 60vw;
  position: relative;
  top: -10px;
  left: 85px;
}

.videos1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40%;
  top: 0;
}

.videos2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 105%;
  top: 30px;
}

.videosc {
  height: 50px;
}

.video image {
  width: 100%;
  height: 100%;
}

.video video {
  width: 100%;
}

.date {
  width: 70px;
  font-size: 10px;
  height: 25px;
  left: 280px;
  top: 8px;
  position: absolute;
}

.di {
  width: 100vw;
  height: 50px;
  /* background-color: blue; */
  position: relative;
}

.xuan {
  width: 90px;
  position: absolute;
  left: 50%;
  top: -5px;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
}

.btn {
  width: 36px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  left: 80%;
  top: 0px;

  /* background-color: rgb(247, 247, 247); */
  /* background-color: aqua; */
  color: rgb(87, 107, 147);
  /* display: flex; */
  /* justify-content: center; */
}

.shhuru {
  top: -15px;
  left: 26%;
  position: relative;
  width: 65vw;
  height: 80px;
  /* background-color: aqua; */
  border: 1px solid blue;
  border-radius: 10px;
}

.shhuru textarea {
  /* background-color: black; */
  width: 100%;
  height: 80%;
  margin: 5px;
}

.shhuru button {
  position: relative;
  left: 72%;
  top: -25px;
}

.pl {
  width: 66vw;
  position: relative;
  left: 85px;
  top: -15px;
  background-color: rgb(247, 247, 247);
}

.pls {
  margin-top: 10px;
  margin-left: 10px;
}

.pls > :first-child {
  color: rgb(87, 107, 147);
}

.pls > :nth-child(3) {
  color: black;
}

.plss {
  width: 80px;
  height: 30px;
  background-color: aqua;
  border-radius: 8px;
  top: -39px;
  left: 60%;
  position: relative;
}

#text {
  width: 100vw;
  height: 100px;
  background-color: beige;
}

#logs {
  width: 100vw;
  height: 100px;
}

#isDel {
  width: 80%;
  height: 130px;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}

#isDel div:nth-child(1) {
  text-align: center;
  font-size: 18px;
}

.delxuan {
  transform: translate(-50%, -0%);
  left: 50%;
  position: relative;
  width: 90%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: antiquewhite; */
}

.delxuan div {
  width: 90px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background-color: green;
  border-radius: 10px;
  /* margin-top: 15px;1 */
}

.delxuan div:nth-child(1) {
  background-color: red;
}

#bntx {
  width: 100vw;
  height: 40px;
  /* background-color: aqua; */
  position: relative;
}

#bntxs {
  width: 70vw;
  height: 40px;
  position: absolute;
  top: 30%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: blue; */
}

#xuanx1 {
  width: 20px;
  height: 20px;
  transform: scale(1.8);
}

#xuanx2 {
  width: 20px;
  height: 20px;
  transform: scale(2);
}

#xuanx3 {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
}

#xuanx4 {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
}

#bntxs image {
  width: 100%;
  height: 100%;
}
