// 置顶标志
.ding{
    width: 60px;
    // height: 100px;
    position: absolute;
    right: 9%;
    top: 0px;
    img{
      width: 100%;
      height: 100%;
      opacity:0.5;
    }
  }

// 底部日期
.di {
    width: 100%;
    height: 36px;
    margin-top: 18px;
    /* background-color: blue; */
    position: relative;
    .date {
        width: 70px;
        font-size: 10px;
        height: 25px;
        // left: 280px;
        right: 4%;
        top: 8px;
        position: absolute;
        // 禁止文本被选中
        user-select: none;

        cursor: pointer;
    }
}