.pl {
    width: 86%;
    position: relative;
    transform: translate(-50%, -0%);
    left: 50%;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;

    .pls {
        width: 96%;
        margin-left: 2%;

        .plText {
            // display: block;
            // word-break: break-word;
            // overflow-wrap: break-word;
            word-break: break-all;
        }
    }

    .pls> :first-child {
        color: rgb(87, 107, 147);
    }

    .pls> :nth-child(2) {
        margin-left: 3px;
        margin-right: 3px;
    }

    .pls> :nth-child(3) {
        color: black;
    }

    .plss {
        width: 80px;
        height: 30px;
        background-color: aqua;
        border-radius: 8px;
        top: -39px;
        left: 60%;
        position: relative;
    }
}

#imgShow {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

    .img_item {
        width: 45%;
        height: 82px;
    }
}