
.shhuru {
  top: 0;
  left: 5%;
  position: relative;
  width: 90%;
  height: auto;
  /* background-color: aqua; */
  border: 1px solid blue;
  border-radius: 10px;

  textarea {
    /* background-color: black; */
    width: 95%;
    height: 150px;
    margin: 5px;
    border: none;
    /* 隐藏边框 */
    outline: none;
    /* 移除焦点时的外轮廓 */
    resize: none;
    /* 禁止手动调整大小 */
  }

  button {
    position: absolute;
    left: 80%;
    bottom: 6%;
    width: 60px;
    height: 26px;
  }
}