.zhu {
  width: 100%;
  position: relative;
}

@leftTap: 35px;

.text {
  font-size: 15px;
  width: 70%;
  position: relative;
  font-family: 'nlt', sans-serif; 
  left: @leftTap + 50;
  top: 0px;
  img {
    width: 26px;
    height: 26px;
    display: inline-block;
    transform: translateY(30%);
  }
}

.imgs {
  width: 70%;
  position: relative;
  top: 12px;
  left: @leftTap + 50;
  display: flex;
  flex-wrap: wrap;
  .image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .imgsAdd {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 220px;
    left: 110px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  span {
    font-size: 24px;
    color: white;
    font-weight: 700;
  }
}
@videoW:160px;
@videoH:130px;
.video {
  width: 60%;
  position: relative;
  top: 5px;
  left: @leftTap + 50;
  div{
    width: @videoW;
    height: @videoH;
    img{
      position: absolute;
      left: (@videoW / 2 - 25);
      top: (@videoH / 2 - 25);
      
      z-index: 100;
      width: 50px;
      height: 50px;
    }
  }

}

.videos1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40%;
  top: 0;
}

.videos2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 105%;
  top: 30px;
}

.videosc {
  height: 50px;
}

.video {
  image {
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
  }
}

.di {
  .xuan {
    width: 130px;
    position: absolute;
    right: 100px;
    top: -5px;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
  }
}

.shhuru {
  top: 0;
  left: 5%;
  position: relative;
  width: 90%;
  height: auto;
  /* background-color: aqua; */
  border: 1px solid blue;
  border-radius: 10px;
  textarea {
    /* background-color: black; */
    width: 95%;
    height: 150px;
    margin: 5px;
    border: none;       /* 隐藏边框 */
  outline: none;      /* 移除焦点时的外轮廓 */
  resize: none;       /* 禁止手动调整大小 */
  }
  button {
    position: absolute; 
    left: 80%;
    bottom: 6%;
    width: 60px;
    height: 26px;
  }
}

.pl {
  width: 66%;
  position: relative;
  left: 85px;
  top: 0px;
  margin-bottom: 15px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;

  .pls {
    margin-top: 10px;
    margin-left: 10px;
  }

  .pls > :first-child {
    color: rgb(87, 107, 147);
  }

  .pls > :nth-child(3) {
    color: black;
  }

  .plss {
    width: 80px;
    height: 30px;
    background-color: aqua;
    border-radius: 8px;
    top: -39px;
    left: 60%;
    position: relative;
  }
}

.ding{
  width: 60px;
  // height: 100px;
  position: absolute;
  left: 266px;
  top: 0px;
  img{
    width: 100%;
    height: 100%;
    opacity:0.5;
  }
}

.lvLogos{
  width: 200px;
  // height: 50px;
  border-radius: 10px;
  position: relative;
  left: 85px;
  top: 5px;
  cursor: pointer;
  // background-color: antiquewhite;
  .lvLogo{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 15px;

  }
}



#thressV{
  width: 100%;
  height: 280px;
  margin-top: 10px;
}

// @font-face {  
//   font-family: 'nlt'; /* 你给字体起的名字，可以随意 */  
//   src: url('../../assets/nlt.ttf') format('truetype'); /* 字体文件的路径和格式 */  
//   font-weight: normal; /* 字体权重，可以是normal或指定的数字，如400 */  
//   font-style: normal; /* 字体样式，可以是normal（正常）、italic（斜体）等 */  
// }