#all {
  width: 100vw;
  height: 300px;
  position: relative;
//   background-color: rgb(132, 132, 132);
}

.from {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 16px;

  div {
    width: 50px;
    height: 30px;
    margin-left: calc(25vw - 37.5px);
    margin-top: 10px;
    margin-bottom: 10px;
    // margin-top: 30px;
    // background-color: rgb(245, 245, 245);
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-image: url("../../assets/img/mood2.png");
    background-size: contain; /* 让图像适应 div 容器大小 */
    background-repeat: no-repeat;  /* 防止背景图重复 */
    background-position: center;  /* 将背景图居中 */
  }
}

#date{
  
}



#froms {
  width: 100vw;
  // height: 300px;
  margin-top: 10px;
}

#but {
  text-align: center;
  margin: 0 auto;
  line-height: 45px;
  font-size: 24px;
  width: 200px;
  height: 45px;
  // background-color: aqua;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 10px;
  border-radius: 36px;
}


.selected {
    color: white;
    background-image: url("../../assets/img/mood1.png") !important;
    background-size: contain; /* 让图像适应 div 容器大小 */
    background-repeat: no-repeat;  /* 防止背景图重复 */
    background-position: center;  /* 将背景图居中 */
}
.selectedBnt{
    color:white;
    background-color: black;
}
