.zhu {
    width: 100vw;
    height: 220px;
    position: relative;
    // background-color: bisque; 
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // flex-wrap: wrap;
    .a{
        width: 80%;
        margin-left: 75px;
    }
}

#biaodan{

    margin-top: 10px;
}

.circle{
    display: flex;
    justify-content: space-around;
}

#fensan{
    width: 30px;
    margin: 0 auto;
    img{
        width: 30px;
        height: 30px;
    }
}

.zhuan {
    animation: rotateAnimation 1.5s linear infinite;
}

@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg); /* 初始角度 */
    }
    100% {
      transform: rotate(360deg); /* 旋转360度，完成一次顺时针旋转 */
    }
  }



.di {
    width: 100vw;
    // height: 50px;
    /* background-color: blue; */
    position: relative;
    .date {
        width: 70px;
        font-size: 10px;
        height: 25px;
        left: 280px;
        top: -25px;
        position: absolute;
    }
}