.zhu {
    width: 100vw;
    height: 270px;
    position: relative;
    // background-color: bisque; 
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // flex-wrap: wrap;
    .a{
        width: 80%;
        margin-left: 75px;
    }
}


.text {
    font-size: 15px;
    width: 70%;
    height: 30px;
    position: relative;
    left: 85px;
    top: 0px;
    font-size: px;
    font-weight: 800;
    text-align: center;
}

.di {
    width: 100vw;
    height: 50px;
    /* background-color: blue; */
    position: relative;
    .date {
        width: 70px;
        font-size: 10px;
        height: 25px;
        left: 280px;
        top: 8px;
        position: absolute;
    }
}