.all {
    width: 80vw;
    height: 90px;
    z-index: 900;
    position: fixed;
    background-color: bisque;
    border-radius: 20px;
    // 避免内边距影响到元素大小
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
    display: flex;

    justify-content: space-around;


}

img {
    width: 100%;
    height: 100%;
}

.dy {
    width: 30px;
    height: 30px;
}



.kuai {
    width: 10px;
    height: 10px;
    background-color: aqua;
    margin-left: 10px;

}

.toTop {
    width: 30px;
    height: 30px;

    img {
        width: 100%;
        height: 100%;

    }
}