@leftTap: 35px;

.touxian {
  width: 200px;
  position: relative;
  left: @leftTap;
  top: 10px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}

.name {
    color: rgb(87, 107, 149);
    font-size: 16px;
    position: absolute;
    left: @leftTap + 50;
    top: 16px;
    // 禁止文本被选中
    user-select: none;
  }