.zhu {
    width: 100%;
    position: relative;
    margin-top: 10px;
    /* background-color: bisque; */
}

.text {
    font-size: 15px;
    width: 70%;
    position: relative;
    left: 85px;
    top: -20px;
    display: flex;
    flex-wrap: wrap;
}

.text img {
    width: 26px;
    height: 26px;
    display: inline-block;
    transform: translateY(-13%)
}

#bntx {
    width: 100%;
    height: 40px;
    /* background-color: aqua; */
    position: relative;
}

#bntxs {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 30%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: blue; */
}

#xuanx1 {
    width: 20px;
    height: 20px;
    transform: scale(1.8);
}

#xuanx2 {
    width: 20px;
    height: 20px;
    transform: scale(2);
}

#xuanx3 {
    width: 20px;
    height: 20px;
    transform: scale(1.5);
}

#xuanx4 {
    width: 20px;
    height: 20px;
    transform: scale(1.5);
}

#bntxs img {
    width: 100%;
    height: 100%;
}




#find{
    width: 100%;
    height: 20px;
    /* background-color: aquamarine; */
    position:relative;
    top:20px;
    display: flex;
    
}
#find input{
    width: 150px;
    height: 20px;
    background-color: blanchedalmond;
}


